header {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: #4a4e69;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.body {
  background-color: #f2e9e4;
}

#side-checkbox {
  display: none;
}

.side-panel {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: -360px;
  background: #22223b;
  transition: all 0.5s;
  width: 320px;
  height: 100vh;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.4);
  color: #FFF;
  padding: 40px 20px;
}

.side-title {
  font-size: 30px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #BFE2FF;
}

/* Оформление кнопки на странице */
.side-button-1-wr {
  /* text-align: center; Контейнер для кнопки, чтобы было удобнее ее разместить */
  position: absolute;
  width: 75px;
  height: 75px;
  left: 0%;
  top: calc(50% - 75px/2);
}

.side-button-1 .side-b {
  margin: 10px;
  text-decoration: none;
  position: relative;
  font-size: 20px;
  line-height: 20px;
  padding: 12px 30px;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', Тahoma, sans-serif;
  background: #22223b;
  cursor: pointer;
  border: 2px solid #010a13;
}

.side-button-1 .side-b:hover,
.side-button-1 .side-b:active,
.side-button-1 .side-b:focus {
  color: #FFF;
}

.side-button-1 .side-b:after,
.side-button-1 .side-b:before {
  position: absolute;
  height: 4px;
  left: 50%;
  bottom: -6px;
  content: "";
  transition: all 280ms ease-in-out;
  width: 0;
}

.side-button-1 .side-open:after,
.side-button-1 .side-open:before {
  background: #0d0d3c;
}

.side-button-1 .side-close:after,
.side-button-1 .side-close:before {
  background: red;
}

.side-button-1 .side-b:before {
  top: -6px;
}

.side-button-1 .side-b:hover:after,
.side-button-1 .side-b:hover:before {
  width: 100%;
  left: 0;
}

/* Переключатели кнопки 1 */
.side-button-1 .side-close {
  display: none;
}

#side-checkbox:checked+.side-panel+.side-button-1-wr .side-button-1 .side-open {
  display: none;
}

#side-checkbox:checked+.side-panel+.side-button-1-wr .side-button-1 .side-close {
  display: block;
}

#side-checkbox:checked+.side-panel {
  left: 0;
}

/* Оформление кнопки на панеле */
.side-button-2 {
  font-size: 30px;
  border-radius: 20px;
  position: absolute;
  z-index: 1;
  top: 8px;
  right: 8px;
  cursor: pointer;
  transform: rotate(45deg);
  color: #BFE2FF;
  transition: all 280ms ease-in-out;
}

.side-button-2:hover {
  transform: rotate(45deg) scale(1.1);
  color: #FFF;
}


.btn {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 88%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;


}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  /* transition: 0.5s; */
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

main {
  position: relative;
}

.line {
  top: 104px;
  height: 4px;
  background-color: #000000;
}


.page_name {
  font-size: 4em;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.menu {
  position: absolute;
  width: 75px;
  height: 75px;
  left: calc(100% - 75px - 50px);
  top: calc(50% - 75px/2);
  background-color: white;
}


.work {
  margin-top: 50px;
  position: relative;
  width: 90%;
  left: 5%;
  background: #22223b;
  border: 2px solid #000000;
  border-radius: 30px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', Тahoma, sans-serif;
}

.work__type {
  font-size: 35px;
  line-height: 35px;
  padding: 12px 30px;
}

.work__name {
  font-size: 25px;
  line-height: 25px;
  padding: 12px 30px;
}

.work__button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  line-height: 30px;
  padding: 12px 30px;
  color: #FFF;
  text-decoration: none;
}

.task {
  position: relative;
  border: 0px solid black;
  border-radius: 30px;
  background: #22223b;
  margin-top: 100px;
}


.task__photo {
  width: 100%;
  border-radius: 28px;
}

.form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  line-height: 30px;
  padding: 12px 30px;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', Tahoma, sans-serif;
  background: #22223b;
  border-radius: 0px 0px 28px 28px;
}

.task__button {
  font-size: 20px;
  line-height: 20px;
  padding: 12px 30px;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', Tahoma, sans-serif;
  cursor: pointer;
  border: 0px solid #010a13;
  text-decoration: none;
  background-color: #c2c2c260;
  border-radius: 10px;
}

.task__button:hover {
  background-color: #c2c2c29a;
  transition: 150ms;
}

.end {
  font-size: 2em;
  display: flex;
  justify-content: space-evenly;
}

.end__button {
  padding: 12px 30px;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', Tahoma, sans-serif;
  background: #22223b;
  cursor: pointer;
  border: 2px solid #010a13;
  text-decoration: none;
  position: relative;
  font-size: 30px;
  line-height: 30px;
  margin-top: 50px;
}

.correct {
  background-color: #5fd579;
}

.incorrect {
  background-color: #f34e56;
}

.undone {
  background-color: #ecd97b;
}

.task__answer {
  border-radius: 10px;
  padding-left: 5px;
}

.tag {
  font-size: 20px;
  color: #FFF;
  text-decoration: none;
  background-color: #00000000;
}

.subtitles {
  position: relative;
  display: flex;
  justify-content: center;
  color: #22223b;
  margin-top: 75px;
  font-size: 3em;
}

.work {
  margin-top: 50px;
  position: relative;
  background: #22223b;
  border: 2px solid #000000;
  border-radius: 30px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', Tahoma, sans-serif;

}

.work__description {
  background-color: #fff;
  position: relative;
  border: 2px solid #000000;
  border-radius: 28px;
  font-weight: 500;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "work__type work__stats"
    "work__name work__stats";
}
.work__description_teacher {
  background-color: #fff;
  position: relative;
  border: 2px solid #000000;
  border-radius: 28px;
  font-weight: 500;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "work__type work__radio"
    "work__name work__radio";
}

.work__type {
  grid-area: work__type;
  font-size: 35px;
  line-height: 35px;
  padding: 12px 30px;
}

.work__menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-area: work__radio;
}

.work__stats {
  grid-area: work__stats;
  display: flex;
  justify-content: end;
  font-size: 25px;
  line-height: 25px;
  padding: 12px 30px;
  align-items: center;
}

.work__edit {
  width: 60px;
  height: 30px;
  background: url("../Icons/edit.svg") no-repeat;
  background-size: 30px 30px;
}

.work__stat {
  width: 60px;
  height: 30px;
  background: url("../Icons/stats.svg") no-repeat;
  background-size: 30px 30px;
}

.work__send {
  width: 60px;
  height: 30px;
  background: url("../Icons/send.svg") no-repeat;
  background-size: 30px 30px;
}
.work__delete{
  width: 60px;
  height: 30px;
  background: url("../Icons/trash.svg") no-repeat;
  background-size: 30px 30px;
}

.work__name {
  grid-area: work__name;
  font-size: 25px;
  line-height: 25px;
  padding: 12px 30px;
}

.work__form {
  background-color: #22223b;
  border-radius: 28px 28px 28px 28px;
}

.work__button {
  width: 100%;
  font-weight: 400;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', Tahoma, sans-serif;
  background-color: #ffffff00;
  display: flex;
  justify-content: center;
  font-size: 30px;
  line-height: 30px;
  padding: 12px 30px;
  color: #FFF;
  border-radius: 28px 28px 28px 28px;
  text-decoration: none;
  transition: all 280ms ease-in-out;
}

.work__button:hover {
  left: 0px;
  color: #FFF;
  transition: all 280ms ease-in-out;
  transform: scale(1.1);
}

.create {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.create__button {
  padding: 12px 30px;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', Tahoma, sans-serif;
  background: #22223b;
  cursor: pointer;
  border: 2px solid #010a13;
  text-decoration: none;
  font-size: 30px;
  line-height: 30px;
}

.work__settings{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  background-color: #f2e9e4;
  font-size: 24px;
}

.work__settings__name {
  border-radius: 7px;
  border: 2px solid #000000;
  padding: 5px;
  background-color: #f2e9e4 ;
  border: 2px solid #000000;
  border-radius: 5px;
  
}

.work__grade__select{
  background-color: #f2e9e4 ;
  padding-left: 10px;
  border: 2px solid #000000;
  border-radius: 5px;
  
}

.work__type__select{  
  background-color: #f2e9e4 ;
  padding-left: 5px;
  border: 2px solid #000000;
  border-radius: 5px;
}

.work__settings__titles{
  margin-top: 50px;
  position: relative;
  display: flex;
  justify-content: space-around;
  font-size: 35px;
}

.work__settings__task__adding{
  margin-top: 25px;
  position: relative;
  display: flex;
  justify-content: space-around;
  font-size: 20px;
  font-family: sans-serif;
}


.work__settings__answer__adding{
  padding-left: 5px;
  background-color: #f2e9e4;
  border: #000000 solid 2px;
}

.add__work{
  
  display: block;
  margin-top: 10px;
  font-size: 20px;
  font-family: sans-serif;
}

.delete__work{
  
  display: block;
  margin-top: 10px;
  font-size: 20px;
  font-family: sans-serif;
}

.login__container{
  display: flex;
  flex-direction: column;
  height: 80%;
  align-items: center;
  background-color: #f2e9e4;
  justify-content: center;
}
.login__form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__input{
  margin-top: 20px;
  background-color: #f2e9e4;
  padding-left: 5px;
  font-size: 25px;
  border: 2px #A9A9A9 solid;
}

.login__button{
  font-size: 25px;
  margin-top: 15px;
  background-color: #87CEEB;
  border-radius: 5px;
  padding-inline: 7px;
}

.flash {
  padding: 10px;
}
.flash.success {
 color: rgb(47, 145, 47);
}
.flash.success {
  color: rgb(255, 63, 63);
 }