.body {
    background-color: #d1d1d1;
  }

.table-container{
   
    top: 15%;
    border: 1px black solid;
    margin-left: 50px;
    margin-right: 50px;
    
}

.percent {
  font-weight: bold;
  font-size: 15px;
}
.auditory-back-r { 
  margin-top: 250px;
  border-radius: 28px 28px 28px 28px;
  left: 70%;
  position: relative;
  font-size: 20%;
  transform:scale(1.3);
  padding: 1em 5em!important;
  transition: all 500ms ease; 
}
button:hover {
	box-shadow: inset 0 0 0 3px rgb(59, 44, 80);
}