header {
  position: relative;
  width: 100%;
  height: 10%;
  background-color: #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}


#side-checkbox {
  display: none;
}

.side-panel {
  position: fixed;
  z-index: 999999;
  top: 0;
  left: -360px;
  background: #350436;
  transition: all 0.5s;
  width: 320px;
  height: 100vh;
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.4);
  color: #FFF;
  padding: 40px 20px;
}

.side-title {
  font-size: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid #BFE2FF;
}

/* Оформление кнопки на странице */
.side-button-1-wr {
  /* text-align: center; Контейнер для кнопки, чтобы было удобнее ее разместить */
  position: absolute;
  width: 75px;
  height: 75px;
  left: 0%;
  top: calc(50% - 75px/2);
  background-color: #d3d3d3;
  ;
}

.side-button-1 .side-b {
  margin: 10px;
  text-decoration: none;
  position: relative;
  font-size: 20px;
  line-height: 20px;
  padding: 12px 30px;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', Тahoma, sans-serif;
  background: #350436;
  cursor: pointer;
  border: 2px solid #010a13;
}

.side-button-1 .side-b:hover,
.side-button-1 .side-b:active,
.side-button-1 .side-b:focus {
  color: #FFF;
}

.side-button-1 .side-b:after,
.side-button-1 .side-b:before {
  position: absolute;
  height: 4px;
  left: 50%;
  bottom: -6px;
  content: "";
  transition: all 280ms ease-in-out;
  width: 0;
}

.side-button-1 .side-open:after,
.side-button-1 .side-open:before {
  background: rgb(66, 28, 116);
}

.side-button-1 .side-close:after,
.side-button-1 .side-close:before {
  background: red;
}

.side-button-1 .side-b:before {
  top: -6px;
}

.side-button-1 .side-b:hover:after,
.side-button-1 .side-b:hover:before {
  width: 100%;
  left: 0;
}

/* Переключатели кнопки 1 */
.side-button-1 .side-close {
  display: none;
}

#side-checkbox:checked+.side-panel+.side-button-1-wr .side-button-1 .side-open {
  display: none;
}

#side-checkbox:checked+.side-panel+.side-button-1-wr .side-button-1 .side-close {
  display: block;
}

#side-checkbox:checked+.side-panel {
  left: 0;
}

/* Оформление кнопки на панеле */
.side-button-2 {
  font-size: 30px;
  border-radius: 20px;
  position: absolute;
  z-index: 1;
  top: 8px;
  right: 8px;
  cursor: pointer;
  transform: rotate(45deg);
  color: #BFE2FF;
  transition: all 280ms ease-in-out;
}

.side-button-2:hover {
  transform: rotate(45deg) scale(1.1);
  color: #FFF;
}


.btn {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 88%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  transition: all 0.5s;
  cursor: pointer;


}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  /* transition: 0.5s; */
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

main {
  position: relative;
}

.line {
  top: 104px;
  height: 4px;
  background-color: #000000;
}


.page_name{
  font-size: 4em;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}

.menu {
  position: absolute;
  width: 75px;
  height: 75px;
  left: calc(100% - 75px - 50px);
  top: calc(50% - 75px/2);
  background-color: white;
}

.menu__line {
  height: 15%;
  width: 100%;
  background-color: #3c3c3c;

}

.work {
  margin-top: 50px;
  position: relative;
  width: 90%;
  left: 5%;
  background: #350436;
  border: 2px solid #000000;
  border-radius: 30px;
  color: black;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', Тahoma, sans-serif;
}
.work__description{
  background-color: #fff;
  position: relative;
  border: 2px solid #000000;
  border-radius:28px;
  font-weight: 500;
}
.work__type{
  font-size: 35px;
  line-height: 35px;
  padding: 12px 30px;
}
.work__name{
  font-size: 25px;
  line-height: 25px;
  padding: 12px 30px;
}

.work__button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  line-height: 30px;
  padding: 12px 30px;
  color: #FFF;
  text-decoration: none;
}

.task{
  position: relative;
  border: 2.5px solid black;
  border-radius: 30px;
  background: #350436;
  margin-top: 100px;
}


.task__photo {
  width: 100%;
  border-radius: 28px;
}

.form{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  line-height: 30px;
  padding: 12px 30px;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', Тahoma, sans-serif;
  background: #350436;
  border-radius: 0px 0px 28px 28px;
}

.task__button{
  font-size: 20px;
  line-height: 20px;
  padding: 12px 30px;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', Тahoma, sans-serif;
  cursor: pointer;
  border: 2px solid #010a13;
  text-decoration: none;
  background-color: #ff0707f9;
}
.end{
  font-size: 2em;
  display: flex;
  justify-content: center;
}
.end__button {
  padding: 12px 30px;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', Тahoma, sans-serif;
  background: #350436;
  cursor: pointer;
  border: 2px solid #010a13;
  text-decoration: none;
  position: relative;
  font-size: 30px;
  line-height: 30px;
  margin-top: 50px;
}
.correct{
  background-color: #2db32d;  
}
.incorrect{
  background-color: #fc4048; 
}
.undone{
  background-color: #ffc905
}
