{% extends 'base.html' %}
{% block title %}
Создать работу
{% endblock %}

{% block page_name %}
Создать работу
{% endblock %}
{% block menu_body %}
<form method="post" action="/teacher">
    <p><input class="tag" name="7c" type="submit" value="7 класс">
    <p>
    <p><input class="tag" name="8c" type="submit" value="8 класс">
    <p>
    <p><input class="tag" name="9c" type="submit" value="9 класс">
    <p>
    <p><input class="tag" name="10c" type="submit" value="10 класс">
    <p>
    <p><input class="tag" name="11c" type="submit" value="11 класс">
    </p>
</form>
{% endblock %}
{% block body %}
<div class="container">
    <form action="/teacher" id="for" method="post" enctype=multipart/form-data>
        <div class="work__settings">
        <input name="name" class="work__settings__name" placeholder="Введите название работы" required size=30
            type="text">
        <select class="work__grade__select" name="grade">
            <option value="7">7 класс</option>
            <option value="8">8 класс</option>
            <option value="9">9 класс</option>
            <option value="10">10 класс</option>
            <option value="11" selected>11 класс</option>
        </select>
        <select class="work__type__select" name="type">
            <option value="1">Практическая работа</option>
            <option value="2" selected>Самостоятельная работа</option>
            <option value="3">Контрольная работа</option>
        </select>
        </div>
        <div class="work__settings__titles">
            <p>Задания:</p>
            <p>Ответы:</p>
        </div>
        <div class="con">
            <div class="work__settings__task__adding">
                <input  name="file0" class="work__settings__file__adding" type="file" required accept="image/*">
                <input  name="answer0" class="work__settings__answer__adding" required type="text"
                    placeholder="Предполагаемый ответ">
            </div>
        </div>
    </form>
    <form action="get" class="add__work">
        <input type="submit" value="Добавить">
    </form>
    <form action="get" class="delete__work">
        <input type="submit" value="Удалить">
    </form>
    <div class="create">
        <input form="for" name="create_work" value="СОЗДАТЬ" type="submit" class="create__button"></input>
    </div>
    {% endblock %}
    {% block code %}
    <script src="./STATIC/js/script.js"></script>
    {% endblock %}