{% extends 'base.html' %}
{% block title %}
Создать работу
{% endblock %}

{% block page_name %}
Создать работу
{% endblock %}
{% block menu_body %}
<p><a class="tag" href="/teacher_7">7 класс</a></p>
<p><a class="tag" href="/teacher_8">8 класс</a></p>
<p><a class="tag" href="/teacher_9">9 класс</a></p>
<p><a class="tag" href="/teacher_10">10 класс</a></p>
<p><a class="tag" href="/teacher_11">11 класс</a></p>
<p><a class="tag" href="/creation">Создать работу</a></p>
{% endblock %}
{% block body %}
<div class="container">
    <form method="post" class="work__settings">
        <input class="work__settings__name" placeholder="Введите название работы" required size=30 type="text">
        <select class="work__grade__select" name="Класс" id="work__grade__select">
            <option value="7grade">7 класс</option>
            <option value="8grade">8 класс</option>
            <option value="9grade">9 класс</option>
            <option value="10grade">10 класс</option>
            <option value="11grade" selected>11 класс</option>
        </select>
        <select class="work__type__select" name="Вид работы" id="work__type__select">
            <option value="practise">Практическая работа</option>
            <option value="test" selected>Самостоятельная работа</option>
            <option value="exam">Контрольная работа</option>
        </select>
    </form>
        <div class="work__settings__titles">
            <p>Задания:</p>
            <p>Ответы:</p>
        </div>
    <div class="con">
        <form class="work__settings__task__adding" id="1" method="post">
            <input class="work__settings__file__adding" type="file" accept="image/*">
            <input class="work__settings__answer__adding" type="text" placeholder="Предполагаемый ответ" name="" id="">
        </form>
    </div>
    <form action="get" class="add__work">
        <input type="submit" value="Добавить">
    </form>
    <form action="get" class="delete__work">
        <input type="submit" value="Удалить">
    </form>
</div>
</main>
{% endblock %}
{% block code %}
<script src="./STATIC/js/script.js"></script>
{% endblock %}