{% extends 'base.html' %}
{% block title %}
Главная
{% endblock %}

{% block page_name %}
Главная
{% endblock %}

{% block body %}
<div class="container">
  {% if not stats['completed'] and not stats['started'] %}
  <h1 class="subtitles">
    Новые
  </h1>
  <article class="work">
    <div class="work__description">
      <div class="work__type">Проверочная</div>
      <div class="work__name">практика первых номеров ЕГЭ </div>
    </div>
    <a class="work__button" href="/work">НАЧАТЬ РАБОТУ</a>
  </article>
  {% endif %}
  {% if not stats['completed'] and stats['started'] %}
  <h1 class="subtitles">
    Начатые
  </h1>
  <article class="work">
    <div class="work__description">
      <div class="work__type">Проверочная</div>
      <div class="work__name">практика первых номеров ЕГЭ </div>
    </div>
    <a class="work__button" href="/work">ППРОДОЛЖИТЬ РАБОТУ</a>
  </article>
  {% endif %}
  {% if stats['completed'] %}
  <h1 class="subtitles">
    Отправленные
  </h1>
  <article class="work">
    <div class="work__description">
      <div class="work__type">Проверочная</div>
      <div class="work__name">практика первых номеров ЕГЭ </div>
    </div>
  </article>
  {% endif %}
</div>

{% endblock %}