{% extends 'base.html' %}
{% block title %}
Главная
{% endblock %}

{% block page_name %}
Главная
{% endblock %}

{% block body %}
<div class="container">
  {% if not stats['completed'] and not stats['started'] %}
  <h1 class="subtitles">
    Новые
  </h1>
  <article class="work">
      <div class="work__description">
        <div class="work__type">Проверочная</div>
        <div class="work__stats"></div>
        <div class="work__name">практика первых номеров ЕГЭ </div>
        <div class="work__stats"></div>
      </div>
    <form class="work__form" method="POST" action="/work">
      <button name="start_work" type="submit" class="work__button">Начать работу</button>
    </form>
  </article>
  {% endif %}
  {% if not stats['completed'] and stats['started'] %}
  <h1 class="subtitles">
    Начатые
  </h1>
  <article class="work">
    <div class="work__description">
      <div class="work__type">Проверочная</div>
      <div class="work__stats">Правильно {{ stats['correct'] }} из {{ stats['answers'] }}</div>
      <div class="work__name">практика первых номеров ЕГЭ </div>
      <div class="work__stats">Это {{ (stats['correct'] * 100) // stats['answers'] }}%</div>
    </div>
    <a class="work__button" href="/work">ПРОДОЛЖИТЬ РАБОТУ</a>
  </article>
  {% endif %}
  {% if stats['completed'] %}
  <h1 class="subtitles">
    Отправленные
  </h1>
  <article class="work">
    <div class="work__description">
      <div class="work__type">Проверочная</div>
      <div class="work__stats">Правильно {{ stats['correct'] }} из {{ stats['answers'] }}</div>
      <div class="work__name">практика первых номеров ЕГЭ </div>
      <div class="work__stats">Это {{ (stats['correct'] * 100) // stats['answers'] }}%</div>
    </div>
  </article>
  {% endif %}
</div>

{% endblock %}