{% extends 'base.html' %}
{% block title %}
Главная
{% endblock %}

{% block page_name %}
Главная
{% endblock %}
{% block menu_body %}
<form method="post">
  <p><input class="tag" name="7" type="submit" value="7 класс"><p>
  <p><input class="tag" name="8" type="submit" value="8 класс"><p>
  <p><input class="tag" name="9" type="submit" value="9 класс"><p>
  <p><input class="tag" name="10" type="submit" value="10 класс"><p>
  <p><input class="tag" name="11" type="submit" value="11 класс"></p>
  <p><a class="tag" href="/creation">Создать работу</a><p>
</form>
{% endblock %}
{% block body %}
<div class="container">

  {% for work in works %}
  <article class="work">
    <div class="work__description">
      <div class="work__type">{{ work['type'] }}</div>
      <div class="work__name">{{ work['name'] }} </div>
      <form  class="work__menu" method="post">
        <!-- <button name="edit_work" type="submit" class="work__edit"> </button> -->
        <button name="{{work['id']*10+2}}" type="submit" class="work__stat"> </button>
        <button name="{{work['id']*10+3}}" type="submit" class="work__send"> </button>
        <button name="{{work['id']*10+4}}" type="submit" class="work__delete"> </button>
      </form>
    </div>
  </article>
  {% endfor %}
</div>

{% endblock %}